<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>QLMarkdownViewer</string>
    <key>CFBundleIdentifier</key>
    <string>com.yendigb.QLMarkdownViewer</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>QL Markdown Viewer</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>
    <key>NSDesktopFolderUsageDescription</key>
    <string>Needed to render local images referenced in the previewed Markdown file.</string>
    <key>NSDocumentsFolderUsageDescription</key>
    <string>Needed to render local images referenced in the previewed Markdown file.</string>
    <key>NSDownloadsFolderUsageDescription</key>
    <string>Needed to render local images referenced in the previewed Markdown file.</string>
    <key>NSPicturesFolderUsageDescription</key>
    <string>Needed to render local images referenced in the previewed Markdown file.</string>
    <key>NSRemovableVolumesUsageDescription</key>
    <string>Needed to render local images referenced in the previewed Markdown file.</string>
    <key>NSNetworkVolumesUsageDescription</key>
    <string>Needed to render local images referenced in the previewed Markdown file.</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
</dict>
</plist>
